@keyframes bg-slide {
  from {background-position: 0px 0px}
  to {background-position: 480px 480px;}
}
@keyframes border-glow {
  10% {box-shadow: -1px 0px 2px white;}
  40% {box-shadow: -5px 0px 7px white;}
  60% {box-shadow: -5px 0px 7px white;}
  90% {box-shadow: -1px 0px 2px white;}
}
@keyframes text-bounce {
  0% {font-size: 1.1em;}
  50% {font-size: 1.25em;}
  100% {font-size: 1.1em;}
}

body {
  background-image: url('./img/stars.gif');
  background-repeat: repeat;
  animation: bg-slide 120s linear infinite;
  margin: 0 0 0 0;
}

div#sidebar {
  position: absolute;
  right: 0;
  width: 25%;
  height: 100%;

  background-color: black;
  border-left: 2px solid white;
  animation: border-glow 5s linear infinite;

  text-align: center;
  font-family: monospace;
  color: white;
}
div#sidebar h1 {
  font-size: 3em;
  margin-bottom: 0px;
}
div#bounce-container {
  height: 1.5em;
}
div#bounce-container h3 {
  font-style: italic;
  animation: text-bounce 1.5s linear infinite;
}

form#user-info, button#submit-info{
  margin-top: 2.5em;
}
label.prompt {
  margin-top: 1.5em;
  margin-bottom: 5px;

  display: block;
  font-size: 1.25em;
}
input.input-short {
  width: 40px;
}
input.input-long {
  width: 70px;
}

div#space {
  position: absolute;
  left: 0;
  width: 75%;
  height: 100%;

  display: flex;
}

div#sun, div.planet {
  position: absolute;
  left: 50%;
  top: 50%;
}
div#sun {
  background-image: url('./img/sun.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 7.5em;
  height: 7.5em;

  margin-left: -75px;
  margin-top: -75px;
}
div.planet {
  background-size: 85%;
  background-repeat: no-repeat;
  width: 5em;
  height: 5em;
}
div.planet:hover {
  cursor: pointer;
}
div#mercury {
  background-image: url('./img/mercury.png');
  margin-left: -150px;
  margin-top: -100px;
}
div#venus {
  background-image: url('./img/venus.png');
  margin-left: 80px;
}
div#earth {
  background-image: url('./img/earth.png');
  margin-left: -170px;
  margin-top: 70px;
}
div#mars {
  background-image: url('./img/mars.png');
  margin-left: 220px;
  margin-top: -40px;
}
div#jupiter {
  background-image: url('./img/jupiter.png');
  margin-left: -300px;
  margin-top: -200px;
}
div#saturn {
  background-image: url('./img/saturn.png');
  margin-left: 250px;
  margin-top: 100px;
}
div#uranus {
  background-image: url('./img/uranus.png');
  margin-left: -350px;
  margin-top: 30px;
}
div#neptune {
  background-image: url('./img/neptune.png');
  margin-left: 150px;
  margin-top: -200px;
}
